html{
    font-family: serif;
    font-size: 16px;
}
.title{
    text-align: center;
    color: rgb(214, 62, 62);
    font-size: 1rem;
}
.links{
    text-align: center;
    word-spacing: 0.4em;
    font-size: 1rem;
}
.title__about{
    text-align: center;
    color: purple;
    font-size: 1rem;
}
.products{
    text-align: center;
    font-size: 1rem;
}
.images{
    width: 15%;
    height: 15%;
    font-size: 1rem;
}